name: Allure Report

on:
  push:
    branches:
      - main


jobs:
  allure-report:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.13'
        
      - name: Set up Java
        uses: actions/setup-java@v2
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y wget unzip

      - name: Install Allure commandline
        run: |
          wget https://github.com/allure-framework/allure2/releases/download/2.35.1/allure-2.35.1.tgz
          tar -zxvf allure-2.35.1.tgz
          sudo mv allure-2.35.1 /opt/allure
          sudo ln -s /opt/allure/bin/allure /usr/bin/allure

      - name: Install python dependencies
        run: |
          python -m pip install .
          
      - name: Run tests with Allure
        run: |
          pytest --alluredir=allure-results || true

      - name: Get Allure history
        if: always()
        uses: actions/checkout@v2
        with:
          ref: gh-pages
          path: gh-pages

      - name: Copy Allure history
        if: always()
        run: |
          if [ -d gh-pages/history ]; then
            mkdir -p allure-results/history &&
            cp -r gh-pages/history/* allure-results/history/
          fi

      - name: Generate Allure report
        if: always()
        run: |
          allure generate --lang zh allure-results --clean -o allure-report

      - name: Deploy Allure report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
          publish_branch: gh-pages
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'